# Private nix config
private.nix filter=git-crypt diff=git-crypt
*.p.* filter=git-crypt diff=git-crypt

# For agenix
secrets.nix filter=git-crypt diff=git-crypt
*.age filter=git-crypt diff=git-crypt

# Old files that aren't used atm
secret.nix filter=git-crypt diff=git-crypt
*.secret.nix filter=git-crypt diff=git-crypt
keys.yml filter=git-crypt diff=git-crypt
keys.sh filter=git-crypt diff=git-crypt
secrets-map.nix filter=git-crypt diff=git-crypt
*.private.nix filter=git-crypt diff=git-crypt

